<footer class="page-footer">
	<div class="footer-copyright">
		<div class="container center grey-text">
			© 2016 <a role="link" class="white-text link-footer" href="http://danielramosacosta.github.io/">Daniel Ramos</a> <a role="link" class="white-text link-footer" href="http://rafaherrero.github.io/">Rafael Herrero</a>

		</div>
	</div>
</footer>
