$colorfuerte: #3e2723;
$colormedio: #4e342e;
$colorflojo: #5d4037;
$colorflojito: #6d4c41;
$colorfondo: #efebe9;

$tam-peq: 600px;

body {
  background-color: $colorfondo;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background-color: $colorfuerte;
  img {
    max-height: 55px;
    margin-top: 5px;
    @media screen and (max-width: $tam-peq) {
      max-height: 40px;
      margin-top: 10px;
    }
  }
  .button-collapse {
    margin-left: 10px;
  }
}

.page-footer {
  background-color: $colorfuerte !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}	

.link-footer{
	text-decoration: underline;
}

.link-footer:hover{
	text-decoration: none;
}

