$colorfuerte: #3e2723;
$colormedio: #4e342e;
$colorflojo: #5d4037;
$colorflojito: #6d4c41;
$colorfondo: #efebe9;

body {
  background-color: $colorfondo;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background-color: $colorfuerte;
}

.page-footer {
  background-color: $colorfuerte !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}	

.link-footer{
	text-decoration: underline;
}

.link-footer:hover{
	text-decoration: none;
}

#inicio_sesion{
	background: url('../images/Fondo_Inicio_Sesion.jpg');
	background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 88.5vh;
  justify-content: center;
  margin-bottom: 0 !important;
}