<% include partials/head %>
<% include partials/navbar %>


<div class="parallax-container">
    <div class="parallax">
    <img src="images/About.jpg">
    </div>
  </div>
  <div class="section">
    <div class="row container">
      <h2 class="header center">Sobre nosotros</h2>
      <p class="center">Esta aplicación web ha sido creada por dos estudiantes de Ingeniería Informática en la Universidad de La Laguna, Daniel Ramos y Rafael Herrero. Actualmente cursamos el tercer curso y desarrollamos este trabajo para la asignatura de Usabilidad y Accesibilidad, correspondiente al quinto itinerario de Tecnologías de la Información.</p>
    </div>
  </div>
  <div class="parallax-container">
  <div class="parallax">
    <img src="images/Dani.jpg">
    </div>
    </div>
    <div class="section">
    <div class="row container">
      <h2 class="header center">Daniel Ramos Acosta</h2>
      <p class="center">Tengo 20 años, y actualmente soy estudiante 3º del grado de Ingeniería Informática en la ESIT de la Universidad de La Laguna. Desde los 15 años tenía claro que quería estudiar esta carrera. En aquel momento estaba en 4º de la ESO, y en la clase de informática empezamos a ver el Scratch, una herramienta de programación por bloques. Y fue ahí exactamente cuando descubrí que programar era lo que realmente me gustaba.</p>
    </div>
  </div>
  <div class="parallax-container">
  <div class="parallax">
    <img src="images/Rafa.jpg">
    </div>
    </div>
    <div class="section">
    <div class="row container">
      <h2 class="header center">Rafael Herrero Álvarez</h2>
      <p class="center">Tengo 20 años y vivo en San Cristóbal de La Laguna. Actualmente estoy estudiando Ingeniería Informática en ULL, en el tercer curso del itinerario de Tecnologías de la Información, a pesar de haberme dedicado a esto desde de pequeño, ya que vivía entre cintas VHS y pantallas de CRT y el intentar entender su funcionamiento fue lo que me empujo a esta carrera.</p>
    </div>
  </div>

<% include partials/footer %>
<% include partials/scripts %>
