body {
    background: url("../images/Fondo_Inicio_Sesion.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
#inicio_sesion {
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important
}
